<mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input [class.invalid]="control.invalid && control.dirty && control.touched" matInput [type]="type" [formControl]="control" [id]="inputId" [name]="name" placeholder={{placeholder}}>
    @if (control.invalid && control.dirty && control.touched) {
        <ng-container>
            @for (err of control.errors | keyvalue; track $index) {
                <span>
                    {{errorMessages[err.key]}}
                </span>
            }
        </ng-container>
    }
</mat-form-field>
