h4 {
  margin-top: 0;
}
.total {
  font-size: 3em;
  color: #e91e63 !important;
}

.mat-icon,
.description {
  color: green;
  font-size: 2rem;
}

.mat-icon {
  position: relative;
  padding: 0 20px;
  top: 5px;
}
